<div [formGroup]="form" class="job-form">
    <div class="input-job">
        <app-input-select
            formControlName="job"
            [inputSelectOptions]="jobOptions"
            placeholder="Função"
        ></app-input-select>
        <div *ngIf="errors.job.required" class="error-message">
            Campo obrigatório
        </div>
    </div>
    <div class="input-quantity">
        <app-input-text
            formControlName="quantity"
            type="number"
            placeholder="N Pessoas"
        ></app-input-text>
        <div *ngIf="errors.quantity.required" class="error-message">
            Campo obrigatório
        </div>
    </div>
</div>
