<div class="dropdown" [ngClass]="{ 'is-active': focus }">
    <div class="input-container" (click)="toggleFocus()">
        <div class="input-field">
            <span>{{ selectedValue ? selectedValue.label : placeholder }}</span>
        </div>
        <svg-icon src="/assets/img/icons/select-arrow.svg"></svg-icon>
    </div>
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <ul class="dropdown-content">
            <li *ngIf="filteredOptions.length > 5" class="dropdown-item search-box-container">
                <input class="search-box" placeholder="Filtrar" (input)="onSearch($event)" />
            </li>
            <li
                *ngFor="let option of filteredOptions"
                (click)="onOptionSelect(option)"
                class="dropdown-item"
                [ngClass]="{ selected: option.key === selectedValue?.key }"
            >
                <span>{{ option.label }}</span>
            </li>
        </ul>
    </div>
</div>
