// remove std decorations from <a>
a {
    text-decoration: none;
}

// draw a grey segment under selected <a>, positioned over the <hr>
a.selected {
  padding-bottom: 4px;
  border-bottom: 3px solid #FF6666;
}

// move HR over the <a> text bottom border
hr {
    border-top: 1px solid #DADADA;
    margin-top: 5px;
}

// place <ul> element inline
ul {
    display: inline;
    margin-left: 40px;
}

li {
    padding: 20px;
    display: inline;
    font-family: Work Sans;
    font-style: normal;
    font-weight: bolder;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    color: #111111;
}