<h1 class="title">Parceiros</h1>

<div class="info-container">
    <div class="icons-container">
        <img class="background-lines" src="/assets/img/home/partners-background-lines.svg" />
        <ul class="icons-list">
            <li class="item" *ngFor="let partner of partners">
                <a [href]="partner.href" target="_blank" class="item-info" [title]="partner.title">
                    <img class="icon" [src]="partner.src" />
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="presentation-link-container">
    <app-button
        url="/assets/docs/teamloan-presentation.pdf"
        label="Clique aqui para consultar a apresentação"
        [theme]="buttonTheme"
        [newPageUrl]="true"
        [externalUrl]="true"
        class="presentation-link"
    ></app-button>
</div>
