<h1 class="title">Parceiros</h1>

<div class="info-container">
    <div class="icons-container">
        <img class="background-lines" src="/assets/img/home/partners-background-lines.svg" />
        <ul class="icons-list">
            <li class="item">
                <a
                    href="https://madeoflisboa.com"
                    target="_blank"
                    class="item-info"
                    title="Made of Lisboa | Official Lisbon's Entrepreneur Community'"
                >
                    <img class="icon" src="/assets/img/logos/cmlisboa.svg" />
                </a>
            </li>
            <li class="item">
                <a
                    href="http://www.acbraga.pt"
                    target="_blank"
                    class="item-info"
                    title="Associação Comercial de Braga"
                >
                    <img class="icon" src="/assets/img/logos/acb.svg" />
                </a>
            </li>
            <li class="item">
                <a
                    href="https://www.nestportugal.pt"
                    target="_blank"
                    class="item-info"
                    title="NEST - Centro de inovação do turismo"
                >
                    <img class="icon" src="/assets/img/logos/nest.svg" />
                </a>
            </li>
            <li class="item">
                <a class="item-info">
                    <img class="icon" src="/assets/img/home/partners-icon-default.svg" />
                </a>
            </li>
            <li class="item">
                <a class="item-info">
                    <img class="icon" src="/assets/img/home/partners-icon-default.svg" />
                </a>
            </li>
            <li class="item">
                <a class="item-info">
                    <img class="icon" src="/assets/img/home/partners-icon-default.svg" />
                </a>
            </li>
        </ul>
    </div>
</div>

<div class="presentation-link-container">
    <app-button
        url="/assets/docs/teamloan-presentation.pdf"
        label="Clique aqui para consultar a apresentação"
        [theme]="buttonTheme"
        class="presentation-link"
    ></app-button>
</div>
