<div class="footer">
    <img class="logo" src="/assets/img/logo-white.svg" />
    <div class="contact-block">
        <p class="label">Contacto:</p>
        <a href="mailto:geral@teamloan.pt" class="text">geral@teamloan.pt</a>
    </div>
    <ul class="legal-links">
        <li class="item"><a href="https://www.teamloan.pt/assets/docs/terms-and-conditions.pdf" target="_blank">Termos do serviço</a>
        </li>
        <li class="separator">&#8226;</li>
        <li class="item"><a href="https://www.teamloan.pt/assets/docs/privacy-policy.pdf" target="_blank">Política de privacidade</a>
        </li>
    </ul>
    <ul class="social-links">
        <li class="item">
            <a href="https://www.linkedin.com/company/teamloan" target="_blank">
                <svg-icon src="/assets/img/icons/linkedin.svg"></svg-icon>
            </a>
        </li>
        <li class="item">
            <a href="https://www.instagram.com/teamloan_/" target="_blank">
                <svg-icon src="/assets/img/icons/instagram.svg"></svg-icon>
            </a>
        </li>
        <li class="item">
            <a href="https://www.facebook.com/projecteamloan/" target="_blank">
                <svg-icon src="/assets/img/icons/facebook.svg"></svg-icon>
            </a>
        </li>
    </ul>
</div>
<div class="tech4covid">
    <a href="https://tech4covid19.org/" target="_blank">
        <img src="/assets/img/logo-tech4covid.svg" />
    </a>
</div>