@import 'src/assets/scss/core/_variables';
@import 'bulma/sass/utilities/_all';

:host {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.header-container {
    display: flex;
    align-items: center;
    background-color: var(--color-white);
    width: 100%;

    @include mobile {
        padding: 0 15px;
        height: $headerMobileHeight;
    }

    @include tablet {
        height: $headerDesktopHeight;
        padding: 0 45px;

        &.small-menu {
            height: $headerDesktopSmallHeight;
        }
    }
}

.left-menu-container {
    display: flex;
    flex: 1;

    @include mobile {
        &.align-left {
            flex: none;
        }
    }

    .prev-navigation {
        display: flex;
        flex-direction: column;
        align-items: center;
        cursor: pointer;

        .back {
            display: flex;
        }

        @include mobile {
            .back {
                width: 14px;
                height: 14px;
            }

            .label {
                display: none;
            }
        }

        @include tablet {
            .back {
                width: 28px;
                height: 29px;
            }

            .label {
                margin-top: 7px;
                font-family: Work Sans;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;
                line-height: 16px;
                text-align: center;
                text-decoration: none;
                color: var(--color-cosmic);
            }
        }
    }
}

.logo-container {
    display: flex;
    justify-content: center;
    flex: 1;

    .logo {
        display: flex;
        width: 129px;
        height: 88px;

        @include mobile {
            width: 80px;
            height: 54px;
        }

        @include tablet {
            width: 129px;
            height: 88px;
        }
    }
}

@include tablet {
    .header-container.small-menu {
        .logo-container {
            .logo {
                width: 65px;
                height: 48px;
            }
        }

        app-link {
            ::ng-deep {
                [theme='regular'] {
                    width: 43px;
                }

                .label {
                    display: none;
                }
            }
        }
    }
}

.right-menu-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex: 1;

    @include mobile {
        margin-left: 20px;
    }

    .menu-item,
    .auth-item {
        &:not(:last-child) {
            @include mobile {
                margin-right: 20px;
            }

            @include tablet {
                margin-right: 40px;
            }
        }
    }
}
