@import 'bulma/sass/utilities/_all';

:host {
    .title {
        color: var(--color-cosmic);
    }

    .info-text {
        font-family: Work Sans;
        font-style: normal;
        font-weight: 200;
        font-size: 22px;
        line-height: 26px;
        text-align: center;
        padding: 5px;
    }

    .form-fields {
        @include mobile {
            margin-top: 33px;

            .field-container {
                margin-top: 17px;
            }
        }

        @include tablet {
            margin-top: 24px;

            .field-container {
                margin-top: 39px;
            }
        }
    }

    .button,
    .button-submit {
        ::ng-deep {
            .button {
                height: 50px;

                @include mobile {
                    font-size: 30px;
                    line-height: 35px;
                }

                @include tablet {
                    width: 410px;
                    font-size: 24px;
                    line-height: 28px;
                }
            }
        }
    }
}
