<div class="layer">
    <div class="pop-up-container">
        <h1 class="title">{{ title }}</h1>
        <div class="info-text" [innerHTML]="infoText"></div>
        <form [formGroup]="form" (submit)="onSubmit()">
            <div class="form-fields">
                <ng-content></ng-content>
            </div>
            <div class="buttons-container columns">
                <div class="column">
                    <div *ngIf="reponseError" class="error-message">
                        Ocorreu um erro, por favor tente novamente!
                    </div>
                    <app-button
                        [label]="confirmButtonLabel"
                        type="submit"
                        [iconStatus]="submitting && buttonStatus"
                        class="button-submit"
                    ></app-button>
                </div>
                <app-button
                    [label]="abortButtonLabel"
                    class="button column"
                    theme="secundary"
                    (click)="onAbort()"
                ></app-button>
            </div>
        </form>
    </div>
</div>
