@import './mixins.scss';

:host {
    width: 100%;
}

.input-field {
    @include main-font-style();
    width: 100%;
    padding: 0 20px;
    border-radius: 10px;
    border: 1px solid #663366;
    outline: none;

    &::-webkit-input-placeholder {
        color: var(--color-novel);
    }

    &::-moz-placeholder {
        color: var(--color-novel);
    }

    &:-ms-input-placeholder {
        color: var(--color-novel);
    }

    &:-moz-placeholder {
        color: var(--color-novel);
    }

    @include mobile {
        height: 40px;
    }

    @include tablet {
        height: 50px;
    }

    &.disabled {
        border: none;
        background-color: transparent;
        cursor: pointer;
    }
}
