@import 'bulma/sass/utilities/_all';

@mixin main-font-style {
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    color: var(--color-dove-gray);

    @include mobile {
        font-size: 14px;
        line-height: 16px;
    }

    @include tablet {
        font-size: 22px;
        line-height: 26px;
    }
}

@mixin placeholder {
    &::-webkit-input-placeholder {
        color: var(--color-nobel);
    }

    &::-moz-placeholder {
        color: var(--color-nobel);
    }

    &:-ms-input-placeholder {
        color: var(--color-nobel);
    }

    &:-moz-placeholder {
        color: var(--color-nobel);
    }
}
