<div class="form-section">
    <p class="form-title">Dados da empresa</p>

    <div class="inputs-container" [formGroup]="form">
        <app-input-text formControlName="name" type="text" placeholder="Nome"></app-input-text>
        <div *ngIf="errors.name.required" class="error-message">
            Campo obrigatório
        </div>

        <app-input-text formControlName="nif" type="text" placeholder="NIF"></app-input-text>
        <div *ngIf="errors.nif.required" class="error-message">
            Campo obrigatório
        </div>
        <div *ngIf="errors.nif.format" class="error-message">
            NIF inválido
        </div>

        <app-input-select
            formControlName="businessArea"
            [inputSelectOptions]="businessAreas"
            placeholder="Setor"
        ></app-input-select>
        <div *ngIf="errors.businessArea.required" class="error-message">
            Campo obrigatório
        </div>

        <app-input-text
            formControlName="postalCode"
            zipCode
            type="text"
            placeholder="Código postal"
        ></app-input-text>
        <div *ngIf="errors.postalCode.required" class="error-message">
            Campo obrigatório
        </div>
        <div *ngIf="errors.postalCode.format" class="error-message">
            Código postal inválido. Formato: XXXX-XXX
        </div>

        <p class="sub-title">Objetivo</p>
        <app-input-select
            formControlName="intent"
            [inputSelectOptions]="intents"
        ></app-input-select>
        <div *ngIf="errors.intent.required" class="error-message">
            Campo obrigatório
        </div>
    </div>
</div>
