<form
    [formGroup]="form">

    <app-input-select
        formControlName="distrito"
        [inputSelectOptions]="distritos"
        placeholder="Distrito"
    ></app-input-select>
    <div *ngIf="errors.distrito.required" class="error-message">
        Campo obrigatório
    </div>
    <br>

    <app-input-select
        formControlName="concelho"
        [inputSelectOptions]="concelhos"
        placeholder="Concelho"
    ></app-input-select>
    <div *ngIf="errors.concelho.required" class="error-message">
        Campo obrigatório
    </div>

    <app-input-text
        formControlName="nome"
        type="text"
        placeholder="Nome da equipa"
    ></app-input-text>
    <div *ngIf="errors.nome.required" class="error-message">
        Campo obrigatório
    </div>

    <br>
    <app-jobs-form
        [jobOptions]="jobOptions"
        formControlName="jobsData" 
        [notifier]="notifier">
    </app-jobs-form>

    <app-input-text
        formControlName="obs"
        type="text"
        placeholder="Observações"
    ></app-input-text>

</form>
