@import 'bulma/sass/utilities/_all';

.reset-password-container {
    margin: 5%;
}

.label {
    display: block;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    color: var(--color-white);

    @include mobile {
        font-size: 15px;
        line-height: 18px;
        padding: 4px 7px;
    }

    @include tablet {
        font-size: 18px;
        line-height: 21px;
        padding: 5px 9px;
    }
}

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/auth-background.svg');
    background-size: cover;

    @include tablet {
        min-height: 100vh;
    }
}

.form-fields {
    @include mobile {
        margin-bottom: 33px;

        .field-container {
            margin-bottom: 17px;
        }
    }

    @include tablet {
        margin-bottom: 24px;

        .field-container {
            margin-bottom: 39px;
        }
    }
}

.buttons-container {
    @include mobile {
        app-button {
            margin-bottom: 30px;
        }
    }

    @include tablet {
        margin-bottom: 87px;
    }
}
