@import 'bulma/sass/utilities/_all';
@import 'src/assets/scss/core/_variables';

:host {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('/assets/img/home/intro-background.jpg');
    background-size: cover;
    position: relative;

    @include tablet {
        min-height: calc(100vh - #{$headerDesktopHeight});
        height: 100%;
    }
}

.background-lines {
    position: absolute;
    z-index: 0;

    @include mobile {
        top: 24px;
        right: 22px;
        width: 205px;
    }

    @include tablet {
        top: 40px;
        right: 50px;
        width: 530px;
    }

    @include desktop {
        top: 40px;
        right: 50px;
        width: 792px;
    }
}

.logo-container {
    position: absolute;
    z-index: 0;
    top: 0;
    left: 0;

    @include mobile {
        top: 41px;
        left: 26px;

        .logo {
            width: 78px;
        }
    }

    @include tablet {
        top: 97px;
        left: 100px;

        .logo {
            width: 200px;
        }
    }

    @include desktop {
        top: 97px;
        left: 100px;
    }
}

.intro-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    position: relative;

    @include mobile {
        margin: 110px 32px 25px 32px;
    }

    @include tablet {
        margin: 300px 100px 50px 100px;
    }

    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.info-container {
    @include mobile {
        margin-bottom: 22px;
    }

    @include tablet {
        max-width: 1105px;
        margin-bottom: 75px;
    }

    .intro-title {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--color-white);
        text-align: left;

        @include mobile {
            width: 100%;
            font-size: 30px;
            line-height: 35px;
            margin: 0;
        }

        @include tablet {
            width: 100%;
            font-size: 40px;
            line-height: 48px;
            padding: 0 10px;
            margin: 0;
        }

        @include desktop {
            width: 100%;
            font-size: 50px;
            line-height: 70px;
            padding: 0 10px;
            margin: 0;
        }
    }

    .subtitle {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--color-white);

        @include mobile {
            font-size: 22px;
            line-height: 26px;
        }

        @include tablet {
            font-size: 40px;
            line-height: 55px;
        }
    }
}

.auth-actions {
    display: flex;
    width: 100%;

    @include mobile {
        flex-direction: column;
        align-items: center;
    }

    @include tablet {
        justify-content: center;
    }

    app-button {
        @include mobile {
            width: 180px;

            &:first-child {
                margin-bottom: 30px;
            }
        }

        @include tablet {
            max-width: 397px;

            &:first-child {
                margin-right: 30px;
            }
        }

        @include desktop {
            &:first-child {
                margin-right: 143px;
            }
        }
    }
}

@include mobile {
}
@include tablet {
}
