<ng-container [formGroup]="form">
    <h1>InputTextComponent</h1>
    <div class="columns is-desktop">
        <app-input-text
            class="column"
            formControlName="inputText"
            type="text"
            placeholder="Text"
        ></app-input-text>

        <app-input-text
            class="column"
            formControlName="password"
            type="password"
            placeholder="Password"
        ></app-input-text>
    </div>

    <h1>InputSelectComponent</h1>
    <div class="columns is-desktop">
        <app-input-select
            class="column"
            formControlName="selectBoxSmall"
            [inputSelectOptions]="inputSelectOptionsSmall"
            placeholder="Select box"
        ></app-input-select>

        <app-input-select
            class="column is-half-desktop"
            formControlName="selectBoxLarge"
            [inputSelectOptions]="inputSelectOptionsLarge"
            placeholder="Select box"
        ></app-input-select>
    </div>

    <h1>CheckboxComponent</h1>
    <div class="columns">
        <app-checkbox
            class="column"
            formControlName="checkbox"
            [label]="
                'Concordo com os <a>Termos e Condições</a> assim como com a <a>Política de Privacidade</a> do serviço'
            "
        ></app-checkbox>
    </div>
</ng-container>

<div>{{ form.value | json }}</div>

<hr />
<h1>FilterToolbarComponent</h1>
<div class="columns">
    <app-filter-toolbar
        [sectorOptions]="inputSelectOptionsSmall"
        [locationOptions]="inputSelectOptionsSmall"
        (filterChange)="onFilterToolbarChange($event)"
    ></app-filter-toolbar>
</div>
