<h1 class="title">Preciso de reforçar a minha equipa</h1>

<ul class="icons-container">
    <li class="item">
        <div class="item-info">
            <img class="icon" src="/assets/img/home/seeker-icon-group.svg" />
            <div class="label">Registo a minha necessidade de equipa na TeamLoan.</div>
        </div>
    </li>
    <li class="item">
        <div class="item-info">
            <img class="icon" src="/assets/img/home/seeker-icon-search.svg" />
            <div class="label">
                Procuro e contacto outras empresas que me possam ajudar na minha região.
            </div>
        </div>
    </li>
    <li class="item">
        <div class="item-info">
            <img class="icon" src="/assets/img/home/seeker-icon-handshake.svg" />
            <div class="label">
                Vou ter uma equipa maior temporariamente.
            </div>
        </div>
    </li>
</ul>
