:host {
    display: flex;
    flex-direction: column;

    .title {
        font-family: Work Sans;
        font-style: normal;
        font-weight: bold;
        text-transform: uppercase;
        color: var(--color-cosmic);
    }

    .icons-container {
        display: flex;

        .item {
            display: flex;
            flex: 1;
            justify-content: center;

            .item-info {
                display: flex;
                flex-direction: column;

                .label {
                    font-family: Work Sans;
                    font-style: normal;
                    font-weight: normal;
                    text-align: center;
                    color: var(--color-cosmic);
                }
            }
        }
    }
}

@media all and (max-width: 899px) {
    :host {
        padding: 25px 25px 48px 25px;

        .title {
            font-size: 30px;
            line-height: 35px;
            padding-bottom: 42px;
        }

        .icons-container {
            flex-direction: column;

            .item {
                &:not(:last-child) {
                    margin-bottom: 60px;
                }

                .item-info {
                    width: 316px;
                    align-items: center;

                    .icon {
                        width: 105px;
                        height: 97px;
                        margin-bottom: 15px;
                    }

                    .label {
                        font-size: 18px;
                        line-height: 21px;
                    }
                }
            }
        }
    }
}

@media all and (min-width: 900px) {
    :host {
        padding: 54px 60px;

        .title {
            font-size: 50px;
            line-height: 70px;
            padding-bottom: 105px;
        }

        .icons-container {
            width: 100%;

            .item {
                .item-info {
                    width: 260px;

                    .icon {
                        margin-bottom: 60px;
                    }

                    .label {
                        font-size: 24px;
                        line-height: 28px;
                    }
                }
            }
        }
    }
}
