<app-filter-toolbar
    class="filter-container"
    [intentToggle]="false"
    [districtOptions]="districtOptions"
    [municipalityOptions]="municipalityOptions"
    [sectorOptions]="businessAreaOptions"
    [functionOptions]="jobsOptions"
></app-filter-toolbar>

<div class="posts-list" *ngIf="posts?.length > 0">
    <div *ngFor="let post of posts">
        <app-post-card [postCard]="post" [actions]="actions"></app-post-card>
    </div>
</div>
<div *ngIf="posts?.length === 0" class="empty-container">
    <h1 class="title">
        Sem resultados!
    </h1>
</div>
