<h1 class="title">Quero Partilhar a minha equipa</h1>

<ul class="icons-container">
    <li class="item">
        <div class="item-info">
            <img class="icon" src="/assets/img/home/lender-icon-group.svg" />
            <div class="label">Registo a minha empresa e equipa na TeamLoan.</div>
        </div>
    </li>
    <li class="item">
        <div class="item-info">
            <img class="icon" src="/assets/img/home/lender-icon-message.svg" />
            <div class="label">
                Procuro e contacto empresas que precisem de equipa.
            </div>
        </div>
    </li>
    <li class="item">
        <div class="item-info">
            <img class="icon" src="/assets/img/home/lender-icon-handshake.svg" />
            <div class="label">A minha equipa vai colaborar noutra empresa temporariamente.</div>
        </div>
    </li>
</ul>

<a
    style="display: none;"
    href="https://unsplash.com/@anomaly?utm_medium=referral&amp;utm_campaign=photographer-credit&amp;utm_content=creditBadge"
    target="_blank"
    rel="noopener noreferrer"
    title="Download free do whatever you want high-resolution photos from Anomaly"
    >Anomaly</a
>
