<h1 class="title">Editar publicação</h1>
<app-equipa-form-container [initialValue]="initialValue">
    <div *ngIf="reponseError" class="error-message">
        Ocorreu um erro, por favor tente novamente!
    </div>
    <app-button
        class="button"
        type="button"
        size="fit"
        label="Gravar"
        [iconStatus]="submitting ? buttonStatus.LOADING : ''"
        (click)="submit()"
    ></app-button>
    <!-- <app-button
        class="button"
        type="button"
        size="fit"
        label="Apagar Publicação"
        (click)="deleteTeam()"
    ></app-button> -->
</app-equipa-form-container>
